<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.college.grievancemanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name="com.college.util.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrievanceManagement"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.college.grievancehandler.SeeGrievencePhotoActivity"
            android:exported="false" />
        <activity
            android:name="com.college.student.StudentSeePostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.student.StudentMenu"
            android:exported="false" />
        <activity
            android:name="com.college.faculty.SeeFacultyPostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.faculty.FacultyMenu"
            android:exported="false" />
        <activity
            android:name="com.college.parents.SeePostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.parents.ParentPostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.parents.ParentMenu"
            android:exported="false" />
        <activity
            android:name="com.college.grievancehandler.SeeGrievenceDetails"
            android:exported="false" />
        <activity
            android:name=".ShowGrievance"
            android:exported="false" />
        <activity
            android:name=".ApprovalUsers"
            android:exported="false" />
        <activity
            android:name=".ShowApproval"
            android:exported="false" />
        <activity
            android:name=".AddNewBatch"
            android:exported="false" />
        <activity
            android:name="com.college.student.StudentLogin"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name=".AdminMenu"
            android:exported="false" />
        <activity
            android:name="com.college.grievancehandler.GrievanceLogin"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name="com.college.parents.ParentLogin"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name="com.college.parents.ParentRegister"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name="com.college.faculty.FacultyPostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.faculty.FacultyLogin"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name="com.college.faculty.FacultyRegister"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name="com.college.student.StudentPostGrievance"
            android:exported="false" />
        <activity
            android:name="com.college.student.StudentRegister"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name=".AddGrievance"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false"
            android:theme="@style/NoThemeAction" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/NoThemeAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.college.grievancemanagement"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>